@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="page-header" id="banner">
        Azure Log Viewer
    </div>
    <form role="form">
        <div class="form-group">
            <div class="timestamp">
                <input type="text" class="form-control" id="from" placeholder="e.g. 2006-01-28 15:04:05" />
                <span>-</span>
                <input type="text" class="form-control" id="to" placeholder="e.g. 2006-01-28 15:04:05" />
            </div>
        </div>
        <div class="form-group">
            <textarea id="text" class="form-control" rows="3" placeholder="Search (regex)"></textarea>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
</form>
</div>